<h2>Сбросить пароль</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, layout: :horizontal, control_col: "col-4 col-sm-4 col-md-4") do |f| %>

  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :Пароль %>
    <% if @minimum_password_length %>
      <em>не менее <%= @minimum_password_length %> символов</em>
    <% end %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "off", hide_label: true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Подтвердить пароль" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", hide_label: true %>
  </div>

  <div class="actions">
    <%= f.submit "Поменять пароль", class: "btn btn-primary" %>
  </div>
<% end %>
<br/>
<%= render "devise/shared/links" %>
