<h2>Забыли пароль?</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'example@domain.com' %>
  </div>

  <div class="actions">
    <%= f.submit "Выслать мне инструкцию по сбросу пароля", class: "btn btn-primary" %>
  </div>
<% end %>

<br />
<%= render "devise/shared/links" %>
